<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body class="Site">
      {{ partial "header.html" . }}
      {{ partial "navbar.html" . }}
    <main class="Site-content">
      <div class="content">
        <h3><span class="listarrow">&#10132; <a href="{{ .RelPermalink }}">{{ .Title }}</a><span></h3>
        <div class="less">
            <time>Published: {{ .PublishDate.Format "Monday, Jan 2, 2006" }}</time>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;{{ .ReadingTime }} minute read
        </div>
        <div class="em">{{ .Content }}</div>
        <a class="backarrow" href="/blog">&#8617;</a>
      </div>
    </main>
      {{ partial "footer.html" . }}
  </body>
</html>