@font-face {
    font-family: Arimo100;
    src: url('../fonts/Arimo-Regular.ttf') format("truetype");
}

@font-face {
    font-family: Arimo300;
    src: url('../fonts/Arimo-Regular.ttf') format("truetype");
}

@font-face {
    font-family: Arimo300-Italic;
    src: url('../fonts/Arimo-Italic.ttf') format("truetype");
}

@font-face {
    font-family: Arimo500;
    src: url('../fonts/Arimo-Regular.ttf') format("truetype");
}

html,
body {
    font-family: Arimo100;
    font-size: 18px;
    color: #E5E4E2;
    line-height: 100%;
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
}

h1 {
    font-family: Arimo500;
    font-size: 30px;
    color: #BF0D3E;
    text-transform: capitalize;
    margin: 0%;
}

h1>a {
    color: #E5E4E2;
    text-decoration: none;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: Arimo300;
    font-size: 22px;
    line-height: 200%;
}

h3>.list-arrow {
    color: #BF0D3E;
    display: block;
}

h3>span>a {
    padding: 6px 8px;
    color: #E5E4E2;
    text-decoration: none;
    text-underline-offset: 3px;
    text-decoration-color: #BF0D3E;
}

h3>span>a:hover {
    background-color: #BF0D3E;
    color: #fff;
}

p {

}

ul {
    list-style-type: none;
  }

ul p:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    background-size: 1em;
    background-image: url("/icons/ARROW_RIGHT.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-right: 1em;
  }

li {
    text-transform: capitalize;
    margin: 0%;
}

a:link {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: #BF0D3E;
}

.hover:hover {
    color: #BF0D3E;
    cursor: pointer;
}

.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.icon-contact {
    text-decoration: none;
}

.icon-contact:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.icon-contact>a:hover {
    color: currentColor;
}

.icon-call {
    color:#32c95a;
}

.icon-sms {
    color:#2790ff;
}

.icon-email {
    color:#6c757d;
}

.icon-addme {
    color:tan;
}

img {
    max-width: 100%;
}

footer {
    display: inline-flex;
    justify-content: center;
    padding: 8px 0;
    width: 100%;
    font-family: Arimo300;
    font-size: 16px;
    color: #E5E4E2;
}

.line-dotted {
    margin: 30px 0 10px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #333;
}

iframe {
    margin: auto;
    display: block;
}

.iframe-schedule {
    position: relative;
    height: 700px;
    width: 100%;
    z-index: 10;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.home {
    flex-basis: 60%;
}

.logo {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    max-height: 15vh;
    max-width: 90vw;
}

.blog-content {
    font-size: 18px;
}

.blog-content>p {
    margin: 0%;
}

.blog-less {
    color: #495057;
    font-size: 16px;
}

.blog-pages {
    padding: 30px 0 10px;
    font-size: 18px;
    color: #6c757d;
}

.blog-pages>a {
    color: #BF0D3E;
}

.back-arrow {
    color: #BF0D3E;
    text-decoration: none;
    float: right;
    padding-right: 20px;
    padding-top: 20px;
    font-size: 50px;
    font-weight: bold;
}

.flex-column {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-contact>* {
    text-align: center;
}

.flex-message {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.flex-credentials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.credentials {
    width: 50%;
}

.button-flex {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button-schedule {
    background-color: #3f51b5;
}

.button-contact {
    background-color: #32c95a;
}

/* REMOVE PADDING ON SMALL SCREENS */
@media screen and (max-width: 750px) {

    html,
    body {
        padding-left: 0%;
        padding-right: 0%;
    }
}

/* RETURN PADDING ON LARGE SCREEN */
@media screen and (min-width: 750px) {

    html,
    body {
        padding-left: 8%;
        padding-right: 8%;
    }
}